target/generated-sources/
target/maven-status/
target/test-classes/
.jdtls
.metadata
.classpath
.project
.settings
__pycache__

result.json
.venv

reports/

jpamb.egg-info/
dist/
*.pyd
*.so

build/

.jpamb-stepwise
.hypothesis
leananalyzer

result
